.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.password-input-wrapper input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;  /* Makes sure the input takes the full width */
    box-sizing: border-box;  /* Ensures padding and borders are included in the width */
}

.password-toggle-btn {
    position: absolute;
    right: -0.5%;  /* Moves the icon to the right most position */
    top: -55%;  /* Aligns the icon vertically */
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.password-toggle-btn i {
    font-size: 1.2em; /* Adjust the icon size */
    color: #777;
}

.password-toggle-btn:hover i {
    color: #333;  /* Changes the icon color on hover */
}

.password-toggle-btn:hover {
    background-color: transparent;  /* Prevents background color change on hover */
}
